#collab-page {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
}

#collab-container {
    background: #376aac;
    width: 1000px;
    height: 800px;
    overflow: hidden;
    position: absolute;
}

#slider-container {
    height: 24px;
    width: 80%;
    margin: 20px auto;
    position: relative;
    z-index: 2;
}

.slider-bar-container {
    width: 100%;
    height: 12px;
    top: 6px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.slider-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

 .slider-waypoints {
    width: 98%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 1%;
    margin: 0 auto;
 }

 .slider-waypoints-container {
    width: 98%;
    height: 100%;
}

.slider-bar.remaining {
    background: #FBCD44;
}

.slider-bar.elapsed {
    background: #C0962F;
    width: 0%;
}

.slider-waypoint {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #F8B319;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-handle-container {
    width: 98%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.slider-handle-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-handle {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.75);
    border-radius: 12px;
}
#drag-text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(55,106,172,.5);
    top: 0px;
    left: 0px;
    /*display: none;
    opacity: 0;*/
    transition: all  .3s ease-in;
    -webkit-transition: all  .3s ease-in;
}

#drag-text-container.active {
    opacity: 1;
}

.drag-text-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.drag-text {
    font-size: 30px;
    width: 80%;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

