body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  background: #376aac;
}

#container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.water {
  fill: #E6E6E6;
}

.land {
  fill: #5bb880;
}

.land:hover {
  fill:#81edac;
}

.focused {
  fill: #81edac;
}

select {
  display: block;
  border: solid #eee 1px;
  height: 30px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.dot.hidden {
    display: none;
}

#country-select {
  position: absolute;
  top: 92%;
  width: 270px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%,0%);
  display: none;
  opacity: 0;
}

#country-select.active {
  display: block;
}

#infoText {
  position: absolute;
  top: 80%;
  width: 60%;
  text-align: center;
  font-size: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
  transform: translate(-50%,10%);
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .5s ease-out;
}

#infoText.active {
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%,0%);
  opacity: 1;
}

#infoText.inactive {
  -webkit-transform: translate(-50%, -10%);
  transform: translate(-50%,-10%);
  opacity: 0;
}

.marker-group {
  opacity: 0;
}

.marker-group.hidden {
  display: none;
}

.marker-group.green .marker-left {
  fill: #1A8E57;
}

.marker-group.green .marker-right {
  fill: #2BCC77;
}

.marker-group.yellow .marker-left {
  fill: #D9A41A;
}

.marker-group.yellow .marker-right {
  fill: #F2B409;
}

.marker-group.blue .marker-left {
  fill: #3E70CA;
}

.marker-group.blue .marker-right {
  fill: #4284F3;
}

#markerText {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  width: 22%;
  left: 2%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  display: none;
  opacity: 0;
}

#markerText.active {
  display: block;
}

.markerCountry {
  font-weight: 600;
  font-size: 25px;
  margin: 0px;
  text-indent: 20px;
}

.markerInfo {
  padding-left: 20px;
  padding-right: 0px;
}

.markerInfo li {
  margin-bottom: 10px;
  font-size: 12px;
}

.flyers {
  stroke-width:1;
  opacity: .6;
  stroke: darkred;
  display: none;
}

.flyers.active {
  display: block;
}

.flyer {
  stroke-linejoin: round;
  fill:none;
}
